*.rbc
/log
/tmp
/public/system
**.orig
rerun.txt

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

.idea
.idea/workspace.xml

